# systemd-networkd .network profile for gadget-deadbeef
[Match]
Name=usb0
MACAddress=de:ad:be:ef:00:01

[Network]
DNS=8.8.8.8

[Address]
Address=10.0.0.1/24

[Route]
Gateway=10.0.0.2

